body
	{width:534px;
	height:400px;}
.TB
	{mso-special-format:nobullet\2022;}
.T
	{text-align:center;
	font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	color:black;
	mso-color-index:3;
	font-size:209%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.BB
	{mso-special-format:bullet\2022;}
.B
	{text-align:left;
	font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:152%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B1B
	{mso-special-format:bullet–;}
.B1
	{text-align:left;
	font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:133%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B2B
	{mso-special-format:bullet\2022;}
.B2
	{text-align:left;
	font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B3B
	{mso-special-format:bullet–;}
.B3
	{text-align:left;
	font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B4B
	{mso-special-format:bullet\00BB;}
.B4
	{text-align:left;
	font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.NB
	{mso-special-format:nobullet\2022;}
.N
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1B
	{mso-special-format:nobullet\2022;}
.N1
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2B
	{mso-special-format:nobullet\2022;}
.N2
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3B
	{mso-special-format:nobullet\2022;}
.N3
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4N
	{mso-special-format:nobullet\2022;}
.N4
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.OB
	{mso-special-format:nobullet\2022;}
.O
	{text-align:left;
	font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O1B
	{mso-special-format:nobullet\2022;}
.O1
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O2B
	{mso-special-format:nobullet\2022;}
.O2
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O3B
	{mso-special-format:nobullet\2022;}
.O3
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O4B
	{mso-special-format:nobullet\2022;}
.O4
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CBB
	{mso-special-format:nobullet\2022;}
.CB
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB1B
	{mso-special-format:nobullet–;}
.CB1
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB2B
	{mso-special-format:nobullet\2022;}
.CB2
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB3B
	{mso-special-format:nobullet–;}
.CB3
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB4B
	{mso-special-format:nobullet\00BB;}
.CB4
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CTB
	{mso-special-format:nobullet\2022;}
.CT
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HBB
	{mso-special-format:bullet\2022;}
.HB
	{text-align:left;
	font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:133%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB1B
	{mso-special-format:bullet–;}
.HB1
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB2B
	{mso-special-format:bullet\2022;}
.HB2
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB3B
	{mso-special-format:bullet–;}
.HB3
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB4B
	{mso-special-format:bullet\00BB;}
.HB4
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QBB
	{mso-special-format:bullet\2022;}
.QB
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB1B
	{mso-special-format:bullet–;}
.QB1
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB2B
	{mso-special-format:bullet\2022;}
.QB2
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB3B
	{mso-special-format:bullet–;}
.QB3
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB4B
	{mso-special-format:bullet\00BB;}
.QB4
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.TblB
	{mso-special-format:nobullet\2022;}
.Tbl
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl1B
	{mso-special-format:nobullet–;}
.Tbl1
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl2B
	{mso-special-format:nobullet\2022;}
.Tbl2
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl3B
	{mso-special-format:nobullet–;}
.Tbl3
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl4B
	{mso-special-format:nobullet\00BB;}
.Tbl4
	{font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet\2022;}
.default
	{text-align:left;
	font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:Arial;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:114%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-US;}
a:link
	{color:#CCCCFF !important;}
a:active
	{color:#3333CC !important;}
a:visited
	{color:#B2B2B2 !important;}
